html, body {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  padding: 8px 15px;
  box-sizing: border-box;
}

.translate-box {
  display: flex;
  border-bottom: 1px solid #e2e2e2;
}

.item {
  width: 100%;
  font-size: 12px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  white-space: nowrap;
  color: rgb(101, 101, 101);
  border: 2px solid transparent;
}

.active {
  color: #0958d9 !important;
  border: 2px solid #0958d9 !important;
}

.close {
  font-size: 21px;
  cursor: pointer;
  border: 0;
  margin-left: 10px;
}

.close::before {
  display: block;
  content: '\00D7';
}

.footer {
  width: 100%;
  padding: 10px 20px;
  background-color: #f1f1f1;
  border-top: 1px solid #dbdbdb;
}